/* 
    Created on : 18-oct.-2020, 17:49:03
    Author     : Groupe 1
*/
body > main > div
{
    margin: 0;
    width: 100%;    
}
body > main, #carouselExampleSlidesOnly, #carouselExampleSlidesOnly > div{
    margin: 0;
    width: 100%;
}
#mapid 
{
    margin-bottom: 30px;
    height: 250px;
    width: 100%;
    border: solid 1px white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

    .site-footer 
    {
      background:#f8f9fa
    }

    .dark
    {
      background: #43434a !important;
      background-color: #43434a !important;
      color: lightgray !important;
    }

    .dark button
    {
      background: #43434a !important;
      background-color: #43434a !important;
      color: #ffffff !important;
    }
