/* 
    Created on : 18-oct.-2020, 17:49:03
    Author     : Groupe 1
*/

body > main > div > main > section:nth-child(2) > div > div > div:nth-child(1) > div:nth-child(2) > a > img {
    padding: 0 25%;
}

#mapid {
    margin-bottom: 30px;
    height: 250px;
    width: 100%;
    border: solid 1px white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

